/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid {
  transition: 0.5s;
  transform: translateY(0);
  margin: 0 50px;
}

.grid_sizer {
  width: calc( (100% - 220px)/ 12);  
}

/*.grid_sizer,*/
.grid_item {
  width: calc((100% - 220px) * ( 2 / 12 ) + 20px); 
}

.grid_item {
  margin-bottom: 20px;
  z-index:1;
  float: left;
}

.grid_item__width2 { 
  width: calc((100% - 220px) * ( 3 / 12 ) + 40px); 
}

.grid_item__width3 { 
  width: calc((100% - 220px) * ( 4 / 12 ) + 60px);
}

.grid_item__width4 { 
  width: calc((100% - 220px) * ( 5 / 12 ) + 80px); 
}

/*.grid_item__width5 { 
  width: calc((100% - 40px) * ( 5 / 5 ) + 40px);
}*/

.grid_item img {
  display: block;
  position: relative;
  z-index:0;
  width: 100%;
}

.are_images_unloaded {
  opacity: 0;
  transform: translateY(300px);
}

@media (max-width: 1200px) {
  .grid_sizer,
  .grid_item {
      width: calc((100% - 30px)/ 4);
  }
}