#galerie {
  position: relative;
}

#galerie_title {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 100px;
}

@media(max-width: 800px) {
  #galerie_title {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
  }  
}

#first_loading_galerie {
  display: flex;
  justify-content: center;
}

#galerie_vide {
  display: flex;
  justify-content: center;  
}

#next_statut_galerie {
  margin-top: 10px;
}

#next_statut_galerie > hr {
  margin: 0 50px;
  opacity: 0.3;
}

@media(max-width: 1250px) {
  #next_statut_galerie > hr {
    margin: 0 40px;
  }
}

@media(max-width: 900px) {
  #next_statut_galerie > hr {
    margin: 0 30px;
  }
}

@media(max-width: 500px) {
  #next_statut_galerie > hr {
    margin: 0 15px;
  }
}

#next_statut_galerie > div {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}