#container_form {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

#container_form form {
  display: flex;
}

#container_form select {
  font-size: 16px;
  padding: 3px;
}

#container_form .inputs_range_year {
  opacity: 1;
  transition: 0.3s;
}

#container_form .select_size {
  opacity: 1;
  transition: 0.3s;
}

#container_form .input_unchecked {
  opacity: 0;
  transition: 0.3s;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid {
  margin: 0 50px;
  overflow: hidden;
}

.grid_sizer {
  width: calc( (100% - 220px)/ 12);  
}

/*.grid_sizer,*/
.grid_item {
  width: calc((100% - 220px) * ( 2 / 12 ) + 20px); 
}

.grid_item {
  margin-bottom: 20px;
  z-index:1;
  float: left;
}

/*.grid_item__width2 { 
  width: calc((100% - 220px) * ( 3 / 12 ) + 40px); 
}

.grid_item__width3 { 
  width: calc((100% - 220px) * ( 4 / 12 ) + 60px);
}

.grid_item__width4 { 
  width: calc((100% - 220px) * ( 5 / 12 ) + 80px); 
}*/

/*.grid_item__width5 { 
  width: calc((100% - 40px) * ( 5 / 5 ) + 40px);
}*/

.grid_item img {
  display: block;
  position: relative;
  z-index:0;
  width: 100%;
  height: auto;
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity, transform;
  transition-duration: 1.5s;
  transition-delay: 0.75s;
  
}

.are_images_unloaded img {
  opacity: 0;
  transform: translateY(250px);
  transition: 0s;
  height: 0px;
}

#first_loading_galerie {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
}

#next_statut_galerie {
  margin-top: 10px;
}

#next_statut_galerie > hr {
  margin: 0 50px;
  opacity: 0.3;
}

#next_statut_galerie > div {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .grid_sizer,
  .grid_item {
      width: calc((100% - 30px)/ 4);
  }
}