#galerie {
  position: relative;
  margin: 0 50px;
  color: var(--mongoose);
  min-height: calc(100vh - 150px);
  padding-top: 150px;
}

@media(max-width: 1850px) {
  #galerie {
    margin: 0 50px;
  }   
}

@media(max-width: 1250px) {
  #galerie {
    margin: 0 40px;
  }
}

@media(max-width: 900px) {
  #galerie {
    margin: 0 30px;
  }
}

@media(max-width: 500px) {
  #galerie {
    margin: 0 15px;
  }
}

#galerie_title {
  /*margin-top: 150px;*/
  text-align: center;
}

#galerie_title h3 {
  color: var(--mongoose);
}

#galerie_title h2 {
  color: var(--tertiary-typo);
}

@media(max-width: 1060px) {
  #galerie_title {
    /*margin-top: 100px;*/
  }  
  #galerie {
    padding-top: 100px;
  }
}

#galerie_first_loading, #galerie_vide, #galerie_error, #galerie_filtre_loaded {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  line-height: 40px;
  margin-bottom: 60px;
}

#galerie_filtre_loaded  {
  margin-top: 130px;
}

#galerie_error {
  margin-top: 50px;
  text-align: center;
  flex-direction: column;
  row-gap: 40px;
  max-width: 1000px;
}

#next_statut_galerie {
  margin-top: 10px;
  line-height: 40px;
  /*border-top: 1px solid rgba(255, 255, 255, 0.3);*/
}

#next_statut_galerie > div {
  display: flex;
  justify-content: center;
  /*margin: 10px 0px;*/
  margin-bottom: 25px;
}