#container_form {
  margin: 100px 0;
}

#container_form form {
  margin: 0 auto;
  max-width: 1440px;
}

#container_form form > div:first-of-type {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px , max-content));
  grid-gap: 32px;
  margin-bottom: 50px;
}

#container_form form > div:last-of-type {
  width: max-content;
  margin: 0 auto;
}

@media(max-width: 1060px) {
  #container_form {
    margin: 70px 0;
  }  
}

#container_form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--mongoose);
}

.select_control_themes, .select_control_sizes, .select_control_galeries {
  width: 300px;
}

#container_form input[type="number"] {
  box-shadow: 0px 1px 0px 0.2px #0000004D;
  border: none;
}

#container_form .inputs_range_year input[type="number"] {
  width: calc((300px - 10px ) / 2);
  padding: 16px 12px;
}

#container_form .inputs_range_year input[type="number"]:first-of-type {
  margin-right: 10px;
}

@media(max-width: 350px) {
  #container_form form > div:first-of-type {
    grid-template-columns: repeat(auto-fit, minmax(100% , max-content));
  }
  .select_control_themes, .select_control_sizes, .select_control_galeries {
    width: 100%;
  }

  #container_form .inputs_range_year input[type="number"] {
    width: calc((100% - 10px ) / 2);
  }
}