#biographie {
    background-color: var(--secondary-bg);
    padding: 135px 0;
    color: var(--fifth-typo);
}

.title_section {
    text-align: center;
    margin-bottom: 100px;
}

.title_section span {
    color: var(--secondary-typo);
    font-weight: 500;
}

.main_content {
    display: grid;
    grid-template-rows: minmax(250px, max-content) 1fr;
    grid-template-columns: minmax(250px, max-content) 1fr;
    grid-template-areas: "a b"
                         "c b";
    row-gap: 90px;
    column-gap: 7%;
}

.main_content div:first-of-type {
    grid-area: a;
}

.main_content div:nth-child(2) {
    grid-area: b;
}

.main_content div:nth-child(2) > p {
    margin-bottom: 50px;
}

.main_content > div:nth-child(2) > div {
    display: flex;
    justify-content: space-between;
}

.main_content > div:nth-child(2) > div p {
    width: 50%;
}

.main_content > div:nth-child(2) > div > div {
    width: 42%;
    align-self: center;
}

.main_content > div:last-of-type {
    grid-area: c;
    color: var(--mongoose);
    font-family: 'EB Garamond', serif;
    font-size: 26px;
    margin-left: 30px;
    max-width: 400px;
    width: 28vw;
}

#portrait_img {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    max-width: 400px;
    max-height: 420px;
    width: 28vw;
    height: 30vw;
    opacity: 0.8;
}

#portrait_img::before {
    position: absolute;
    content: "";
    background-color: var(--mongoose);
    bottom: 0;
    right: 0;
    max-width: 370px;
    max-height: 460px;
    width: 26vw;
    height: 33vw;
    transform-origin: bottom right;
    transform: rotate(-10deg);
}