#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--footer-bg);
    padding: 40px 15px;
    color: var(--mongoose);
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#footer > div:first-of-type {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

#footer > div:nth-child(2) {
    margin: 0 auto 20px auto;
}

#footer > div:nth-child(2) ul {
    display: flex;
    gap: 20px;
}

#footer > div:last-of-type {
    margin: 0 auto;
}