/*html { 
  overflow-y: scroll;
}*/

:root {
  --white-solid: #fdfdfd;
  --ebony-clay: #2d3242;
  --mirage: #161928;
  --mongoose: #b1a079;
  --sorrell-brown: #CEB98F;
  --pampas: #f5f3ef;
  --grey: #3e4351;
}

:root .light_mode {
  --primary-typo: var(--mongoose); 
  --secondary-typo: var(--ebony-clay);
  --tertiary-typo: var(--ebony-clay);
  --fourtiary-typo: black;
  --fifth-typo: var(--ebony-clay);
  --primary-bg: var(--white-solid);
  --secondary-bg: var(--pampas);
  --tertiary-bg: var(--white-solid);
  --fourtiary-bg: var(--mongoose);
  --footer-bg: var(--grey);

  background-color: var(--primary-bg);
}

:root .dark_mode {
  --primary-typo: var(--white-solid); 
  --secondary-typo: var(--mongoose);
  --tertiary-typo: var(--pampas);
  --fourtiary-typo: var(--sorrell-brown);
  --fifth-typo: var(--white-solid);
  --primary-bg: var(--ebony-clay);
  --secondary-bg: var(--grey);
  --tertiary-bg: var(--mongoose);
  --fourtiary-bg: var(--ebony-clay);
  --footer-bg: var(--mirage);

  background-color: var(--primary-bg);
}

html {
  background-color: var(--primary-bg);
  font-family: 'Spartan', sans-serif;
}

section {
  width: 100%;
}

.wrapper {
  max-width: 1540px;
  margin: 0 auto;
}

.global_padding {
  padding: 0 50px;
}

@media(max-width: 1850px) {
  .global_padding {
    padding: 0 50px;
  }   
}

@media(max-width: 1250px) {
  .global_padding {
    padding: 0 40px;
  }
}

@media(max-width: 900px) {
  .global_padding {
    padding: 0 30px;
  }
}

@media(max-width: 500px) {
  .global_padding {
    padding: 0 15px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input, .btn {
  font-family: 'Spartan', sans-serif;
  outline: none;
  color: var(--mongoose);
  /*background-color: var(--secondary-bg);*/
  background-color: transparent;
  letter-spacing: 0.32px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"], .btn {
  padding: 18px 36px 15px 36px;
  border: 1px solid var(--mongoose);
  background-color: transparent;
  font-weight: 600;
  /*box-shadow: 0px 1px 0px #0000004D;*/
  font-size: 14px;
  transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  input[type="submit"]:hover, .btn:hover {
    background-color: var(--mongoose);
    color: var(--primary-bg);
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 96px;
  line-height: 128px;
  color: var(--primary-typo);
}

@media(max-width: 1250px) {
  h1 {
    font-size: 76px;
    line-height: 100px;
  }
}

@media(max-width: 1050px) {
  h1 {
    font-size: 64px;
    line-height: 84px;
  }
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 96px;
  line-height: 128px;
  color: var(--primary-typo);
}

.h2_home {
  margin-bottom: 20px;
}

@media(max-width: 1050px) {
  .h2_home {
    font-size: 76px;
    line-height: 100px;
  }
}

@media(max-width: 440px) {
  .h2_home {
    font-size: 17.3vw;
    line-height: 80px;
  }
}

h3 {
  font-family: 'Spartan', sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 40px;
  color: var(--secondary-typo);
}

h4 {
  font-family: 'EB Garamond', serif;
  font-size: 32px;
}

h5 {
  font-family: 'EB Garamond', serif;
  font-size: 54px;
}

h6 {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.clignote {
  animation: clignote 1s linear infinite;
}

@keyframes clignote {  
  50% { opacity: 0; }
}