:root {
  --white-solid: #fdfdfd;
  --ebony: #0C0B1D;
  --ebony-clay: #2d3242;
  --mirage: #161928;
  --mongoose: #b1a079;
  --sorrell-brown: #CEB98F;
  --pampas: #f5f3ef;
  --grey: #3e4351;
  --heather: #bdc2d1;
  --lynch: #697e9a;
  --roman: #df5656;
}

:root .light_mode {
  --primary-typo: var(--mongoose); 
  --secondary-typo: var(--ebony-clay);
  --tertiary-typo: var(--ebony-clay);
  --fourtiary-typo: black;
  --fifth-typo: var(--ebony-clay);
  --sixth-typo: var(--ebony-clay);
  --seventh-typo: var(--grey);
  --primary-bg: var(--white-solid);
  --secondary-bg: var(--pampas);
  --tertiary-bg: var(--white-solid);
  --footer-bg: var(--grey);
  --form-button-bg: var(--mongoose);
  --form-button-bg-hover: var(--sorrell-brown);
  --form-recaptcha-marque: var(--lynch);

  --url-guillemets: url("../assets/images/home/guillemets_mongoose.svg");

  background-color: var(--primary-bg);
}

:root .dark_mode {
  --primary-typo: var(--white-solid); 
  --secondary-typo: var(--mongoose);
  --tertiary-typo: var(--pampas);
  --fourtiary-typo: var(--sorrell-brown);
  --fifth-typo: var(--white-solid);
  --sixth-typo: black;
  --seventh-typo: var(--white-solid);
  --primary-bg: var(--ebony-clay);
  --secondary-bg: var(--grey);
  --tertiary-bg: var(--mongoose);
  --footer-bg: var(--mirage);
  --form-button-bg: var(--mirage);
  --form-button-bg-hover: var(--ebony);
  --form-recaptcha-marque: var(--heather);

  --url-guillemets: url("../assets/images/home/guillemets_white_solid.svg");

  background-color: var(--primary-bg);
}

html {
  font-family: 'Spartan', sans-serif;
}

/***** scrollbar *****/

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: var(--mongoose);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sorrell-brown);
  background-clip: padding-box;
}

/********************/

section {
  width: 100%;
  padding-bottom: 135px;
  padding-top: 135px;
}

.wrapper {
  max-width: 1540px;
  margin: 0 auto;
}

.global_paddingX {
  padding: 0 50px;
}

@media(max-width: 1850px) {
  .global_paddingX {
    padding: 0 50px;
  }   
}

@media(max-width: 1250px) {
  .global_paddingX {
    padding: 0 40px;
  }
}

@media(max-width: 900px) {
  .global_paddingX {
    padding: 0 30px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input, .btn {
  width: max-content;
  font-family: 'Spartan', sans-serif;
  outline: none;
  color: var(--mongoose);
  background-color: transparent;
  letter-spacing: 0.32px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"], .btn {
  padding: 18px 36px 15px 36px;
  border: 1px solid var(--mongoose);
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  input[type="submit"]:hover, .btn:hover {
    background-color: var(--mongoose);
    color: var(--primary-bg);
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 96px;
  line-height: 128px;
  color: var(--primary-typo);
}

@media(max-width: 1250px) {
  h1 {
    font-size: 76px;
    line-height: 100px;
  }
}

@media(max-width: 1050px) {
  h1 {
    font-size: 64px;
    line-height: 84px;
  }
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 96px;
  line-height: 128px;
  color: var(--primary-typo);
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.clignote {
  animation: clignote 1s linear infinite;
}

@keyframes clignote {  
  50% { opacity: 0; }
}