.Dropdown-root {
    position: relative;
}

.Dropdown-control {
    box-shadow: 0px 1px 0px 0.2px #0000004D;
    border: none;
    border-radius: 0px;
    color: var(--primary-typo);
    background-color: var(--secondary-bg);
    font-size: 16px;
    min-height: 51px;
    padding: 16px 26px 16px 12px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    transition: all 200ms ease;
}

.Dropdown-control::first-letter {
    text-transform: capitalize;
}

/*.Dropdown-control:hover {
    box-shadow: 0px 1px 0px 0.2px #0000004D;
}*/

.Dropdown-arrow {
  border-style: solid;
  content: ' ';
  display: block;
  height: 0;
  /*margin-top: -ceil(2.5);*/
  position: absolute;
  right: 10px;
  width: 0;
  border-color: var(--mongoose) transparent transparent;
  border-width: 13px 10px 0;
  top: 50%;
  transform: translateY(-50%);
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent var(--mongoose);
  border-width: 0 10px 13px;
}

.Dropdown-menu {
    background-color: var(--secondary-bg);
    border: 1px solid var(--secondary-bg);
    /*box-shadow: 0px 1px 0px 0.2px #0000004D;*/
    box-sizing: border-box;
    margin-top: 10px;
    /*max-height: 200px;*/
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    animation: 0.3s menu_open;
}

@keyframes menu_open {
    from { opacity: 0;} to { opacity: 1; }
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 8px 10px;
    color: var(--primary-typo);
    font-weight: bold;
    text-transform: capitalize;
}

.Dropdown-option {
    box-sizing: border-box;
    color: var(--primary-typo);
    cursor: pointer;
    display: block;
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Dropdown-option::first-letter {
    text-transform: capitalize;
}

/*.Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}*/

@media (hover: hover) and (pointer: fine) {
    .Dropdown-option:hover {
        background-color: var(--white-solid);
        color: var(--primary-typo);
    }
}

.Dropdown-option.is-selected {
    background-color: var(--white-solid);
    color: var(--primary-typo);
}

.Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}

.Dropdown-placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}